<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<style>
    form {
        background-color: silver;
        width: 150%;
        margin: 0 auto;
        padding: 50px;
    }
</style>
<form th:method="PATCH" th:action="@{/updateUser}" th:object="${user}">
    <h2>UPDATE USER</h2>
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id">
    <br/>
    <label for="firstName">First name</label>
    <input type="text" th:field="*{firstName}" id="firstName">
    <br/>
    <label for="lastName">Last name</label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <br/>
    <label for="email">email</label>
    <input type="text" th:field="*{email}" id="email">
    <br/>
    <label for="age">age</label>
    <input type="text" th:field="*{age}" id="age">
    <br/>
    <input type="submit" value="Update User" style="background-color: rosybrown"/>
</form>
</body>
</html>
